<!DOCTYPE html>
<html>
<head>
 
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>
    Registration
     </title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="about.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav1">
      <div class="con">
       <img src="images/1st.jpg" class="profile">
        </div>
      <div class="container fle">
        
        
        <a class="navbar-brand" href="#">Computer Repair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About_us.html"><b>About us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Registration.html"><b>Registration</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Contact us</b></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#"><b>sign in</b></a>
            </li>
          </ul>
           <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>
              
      </div>
    </nav>
        <div class="header">
      <div class="container-fluid dff">
        <div class="row">
          <div class="col-lg-4">  
              
          </div>
          <div class="col-lg-6">
            <center><a class="gh" href="index.html"> Home<< About</a></center>
            <div class="silderfrm">
              <h3><b>Our services in brief</b></h3>
              <br>
              <p><b>
                PC Repair will provide computer and technical consulting (repairs, training, networking and upgrade service) to local small businesses as well as home PC users. The company will focus on marketing, responsiveness, quality, and creating and retaining customer relations.
                <br>

                PC Repair was initially formed as a sole proprietorship, but was reconfigured as an S Corporation in December of 2004. PC Repair will at first be a home office start-up, utilizing one studio room in the owner's home and serving customers in the local Ramsford-on-Bitstream area. In the third month of our plan, we will move into a leased office space and hire a second technician. As sales increase, we will hire additional personnel
              </b>
              </p>
              <h3><b>Types of services</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
   <footer id="fot" class="py-5 bg-dark">
      <div class="container" style="height: 50px;">
        <p class="m-0 text-center text-white">Copyright &copy;webteam 2017</p>
      </div>
         <center>
          <ul id="ex">
            <li>
              <a href="https://www.facebook.com/sojib.ahmed.545402" class="fa   fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </li>
           </ul>
        </center>
    </footer>  
     <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
</body>
</html>
