<!DOCTYPE html>
<html>
<head>
 
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>
    Registration
     </title>
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav1">
      <div class="con">
        <img src="https://callnerds.com/wp-content/plugins/nerds-functionality/assets/img/nerds/nerd-service-laptop-repair.png"  class="profile">
        </div>
      <div class="container fle">
        
        
        <a class="navbar-brand" href="#" style="color:orange">Computer Repair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus"><b>About us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/"><b>service</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration"><b>Signin</b></a>
            </li>
          </ul>
           <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>
              
      </div>
    </nav>
        <div class="header">
      <div class="container-fluid dff">
        <div class="row"style="height:900px;">
          <div class="col-lg-4"style="height:900px">  
              
          </div>
          <div class="col-lg-6"style="height:850px;">
          
            <div class="silderfrm">
              <h3><b>Our services in brief</b></h3>
              <br>
              <p><b>
                PC Repair will provide computer and technical consulting (repairs, training, networking and upgrade service) to local small businesses as well as home PC users. The company will focus on marketing, responsiveness, quality, and creating and retaining customer relations.
                <br>

                PC Repair was initially formed as a sole proprietorship, but was reconfigured as an S Corporation in December of 2004. PC Repair will at first be a home office start-up, utilizing one studio room in the owner's home and serving customers in the local Ramsford-on-Bitstream area. In the third month of our plan, we will move into a leased office space and hire a second technician. As sales increase, we will hire additional personnel
              </b>
              </p>
              <h3><b>Types of services</h3>
              <p>
                    Online pc repair services have grown to be a fast as well as dependable solution with regard to regular troubleshooting demands. But with so many services vendors available at every corner of your town, it is usually wise to evaluate most of them prior to short listing the one to help you. Here is a list of some of the strategies that you should think about.
                   <br>
                    If you have ever bought or possessed a desktop or laptop computer, you will come across an issue at some point. There is a variety of internet material on online computer repair obtainable to help you understand your technical challenges. However, what you need to always perform is get in touch with some form of remote assistance.
                    <br>
                    You’re looking for online computer repair support that holds skills and actual knowledge about their own subject matter. As a result, these vendors employ qualified as well as certified technicians to provide you a one-stop experience. Most vendors supporting online computer repair provide services to all sorts of clients, be it home users or business of all kinds.
                     <br>
                    Look at this example of few services that you could expect through different pc support businesses. If you are using a slow operating PC, or would like to enhance your computer’s overall performance, you need to have the best provider for this break-fix. Your PC may have a lot of infections if you exchange data over USB thumb drives or if you access Internet without having any kind of protection in your system.
                     <br>
                   You might not even know what kind of risks your computer posses until it’s too late. Good pc support source will offer you anti-virus installation or even spy ware elimination assistance to help you stay risk-free. Finally, there are several well experienced and well established vendors available who can offer online computer repair and maintenance services at low costs.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
   <footer id="fot" class="py-5 bg-dark" style="margin-top:150px;">
      <div class="container" style="height: 50px;">
        <p class="m-0 text-center text-white">Copyright &copy;webteam 2017</p>
      </div>
         <center>
          <ul id="ex">
            <li>
              <a href="https://www.facebook.com/sojib.ahmed.545402" class="fa   fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </li>
           </ul>
        </center>
    </footer>  
     <script src="vendor/jquery.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
  
</body>
</html>
