<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>online_computer_service</title>
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/prostyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav1">
      <div class="con">
       <img src="https://callnerds.com/wp-content/plugins/nerds-functionality/assets/img/nerds/nerd-service-laptop-repair.png"  class="profile">
        </div>
      <div class="container fle">
        <a class="navbar-brand" href="#" style="color:orange">Computer Repair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus"><b>About us</b></a>
            </li>
           
             <li class="nav-item">
              <a onclick="service(event)" class="nav-link" href="/registration"><b>services</b></a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal"><b>SignIn</b></a>
            </li>
            
          </ul>
        
           <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>
              
      </div>
    </nav>
    
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	 <div class="modal-dialog">
				<div class="loginmodal-container">
					
					  <button type="button" class="close" data-dismiss="modal" >&times;</button>
				  
				  <h1>Login to Your Account</h1><br>
				  <label type="text" id="id4"></label>
					<input type="text" id="uname" placeholder="Username">
					<input type="password" id="pass" placeholder="Password">
					<input type="submit" id="but" class="login loginmodal-submit" value="Login">
				  <script src="/lib/jquery/dist/jquery.min.js"></script>
				  <script>
				    var user={};
                     
                    $("#uname").change(function(){
                      user.username=$("#uname").val();
                     });
              
                     $("#pass").change(function(){
                    user.password=$("#pass").val();
                     });
                     
                    $("#but").click(function(event){
                    $.ajax({
                    method: 'POST',
                    url: "/auth/signup",
                    data: user
                   }).done(function(response){
                     console.log(response);
                    window.location.replace('/services/all');
                   }).fail(function(response){
                     console.log(response);
                     $("#id4").text(JSON.parse(response.responseText).message);
                 
             });
        });
				    
				  </script>
					
				    <div class="login-help">
					  <a href="#">Register</a> - <a href="#">Forgot Password</a>
				    </div>
				</div>
			 </div>
		  </div>

    <header id="photo">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url(./image/6th.jpg);height: 500px;">
            <div class="carousel-caption d-none d-md-block">
             
           
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(./image/3rd.jpg);height: 500px;">
            <div class="carousel-caption d-none d-md-block">
          
          
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(./image/5th.jpg);height: 500px;">
            <div class="carousel-caption d-none d-md-block">
            
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>


    <section class="py-5">
      <div class="container">
        <h1>Online based computer service</h1>
        <p>This is online computer servicing center.Here you have to first register.Then sign in here.Finally you are in our service policy.
        </p>
       
      </div>
    </section>
    <hr style="">
     
         <div class="row">
        <div class="col-lg-4">
         <i class="fa fa-desktop fa-5x"></i>
          <h2>DESKTOP</h2>
          <p>Here you can get services about desktop PC.Any problem we are ready to service you.Every Parts of desktop PC will do repair very accurately.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-laptop fa-5x"></i>
          <h2>LAPTOP</h2>
          <p>Any kind of laptop repair problem we will give you proper servicing.No delay about hand over of your laptop.stay in touch with us. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
         <i class="fa fa-television fa-5x" aria-hidden="true"></i>
          <h2>OTHERS</h2>
          <p>Here we also give you fresh desktop monitor.you can also perchage my other computer laptop accesories from our website.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

    

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;webteam 2017</p>
      </div>
         <center>
          <ul id="ex">
            <li>
              <a href="https://www.facebook.com/sojib.ahmed.545402" class="fa   fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </li>
           </ul>
        </center>
    </footer>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>

  </body>

</html>
