<!DOCTYPE html>
<html>
<head>
 
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>
    Registration
     </title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="form.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav1">
      <div class="con">
       <img src="images/1st.jpg" class="profile">
        </div>
      <div class="container fle">
        
        
        <a class="navbar-brand" href="#">Computer Repair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About_us.html"><b>About us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Registration</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Contact us</b></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#"><b>sign in</b></a>
            </li>
          </ul>
           <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>
              
      </div>
    </nav>
    <div class="header">
      <div class="container-fluid dff">
        <div class="row">
          <div class="col-lg-4">  
          </div>
          <div class="col-lg-6">
            <div class="silderfrm">
               Sign up<br>
               <h5>You have to register first</h5>
               <hr>
               <form>
                <table width="700px">
                  <tr style="margin-top: 2px;">
                     <tr>
                      <td>
                        <label style="font-size: 23px;">First Name</label>
                      </td>
                      <td>
                      <input style="font-size:20px; margin-right:300px;"
                       type="text" name="First Nmae" maxlength="70" 
                         size="20">
                         <h4 style="font-size:20px; margin-right:300px;">
                          write your first name
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;">Last Name</label>
                      </td>
                      <td>
                       <input style="font-size:20px; margin-right:300px;"
                       type="text" name="Last Name" maxlength="70" 
                         size="20">
                         <h4 style="font-size:20px; margin-right:300px;">
                          write your Last name
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;margin-right: 10px;">Email</label>
                      </td>
                      <td>
                        <input style="font-size:20px; margin-right:300px;" type="text" name="email" maxlength="70"
                         size="20">
                         <h4 style="font-size:20px; margin-right:300px;">
                          write your email
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;margin-right: 10px;">Password</label>
                      </td>
                      <td>
                        <input style="font-size:20px; margin-right:300px;" type="password" name="password" maxlength="70"
                         size="20">
                         <h4 style="font-size:20px; margin-right:300px;">
                          write your password
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;margin-right: 10px;">Confirm password</label>
                      </td>
                      <td>
                        <input style="font-size:20px; margin-right:300px;" type="password" name="confirm_password" maxlength="70"
                         size="20">
                         <h4 style="font-size:20px; margin-right:300px;">
                          confirm your password
                         </h4>
                      </td>
                    </tr>
                  </tr>
                </table>
                 <button type="text" style="background-color: green; font-size: 20px;">REGISTER</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    <footer id="fot" class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;webteam 2017</p>
      </div>
         <center>
          <ul id="ex">
            <li>
              <a href="https://www.facebook.com/sojib.ahmed.545402" class="fa   fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </li>
           </ul>
        </center>
    </footer>  
     <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
</body>
</html>