<!DOCTYPE html>
<html>
<head>
 
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>
    Registration
     </title>
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container flued">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav1">
      <div class="con">
        <img src="https://callnerds.com/wp-content/plugins/nerds-functionality/assets/img/nerds/nerd-service-laptop-repair.png"  class="profile">
        </div>
      <div class="container fle">
        
        
        <a class="navbar-brand" href="#">Computer Repair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus"><b>About us</b></a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Services</b></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/registration"><b>sign in</b></a>
            </li>
          </ul>
           <div class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
        </div>
              
      </div>
    </nav>
    <div class="header">
      <div class="container-fluid dff">
        <div class="row">
          <div class="col-lg-4">  
          </div>
          <div class="col-lg-6">
            <div class="silderfrm">
               Sign up<br>
               <h5>You have to register first</h5>
               <hr>
               <div id="for">
                <table width="700px">
                  <tr style="margin-top: 2px;">
                     <tr>
                      <td>
                        <label style="font-size: 23px;">First Name</label>
                      </td>
                      <td>
                      <input  id="fname" style="font-size:20px; margin-right:300px;"
                       type="text" name="First Nmae" maxlength="70" 
                         size="20">
                         <h4 id="id1" style="font-size:20px; margin-right:300px;">
                          write your first name
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;">Last Name</label>
                      </td>
                      <td>
                       <input  id="lname" style="font-size:20px; margin-right:300px;t"
                       type="text" name="Last Name" maxlength="70" 
                         size="20">
                         <h4 id="id2" style="font-size:20px; margin-right:300px;">
                          write your Last name
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label  style="font-size: 23px;margin-right: 10px;">Email</label>
                      </td>
                      <td>
                        <input id="email" style="font-size:20px; margin-right:300px;" type="text" name="email" maxlength="70"
                         size="20">
                         <h4 id="id3" style="font-size:20px; margin-right:300px;">
                          write your email
                         </h4>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        <label style="font-size: 23px;margin-right: 10px;">Password</label>
                      </td>
                      <td>
                        <input id="pass" style="font-size:20px; margin-right:300px;" type="password" name="password" maxlength="70"
                         size="20">
                         <h4 id="id4" style="font-size:20px; margin-right:300px;">
                          write your password
                         </h4> 
                      </td>
                    </tr>
                     <tr>
                    </tr>
                  </tr>
                </table>
                 <button id="but" type="text">Submit</button>
                 
                  <script src="/lib/jquery/dist/jquery.min.js"></script>
                 <script>
                  var user={};
                      $("#fname").change(function(){
                     user.firstName=$("#fname").val();
                      });
                     $("#lname").change(function(){
                      user.lastName=$("#lname").val();
                     });
                     $("#email").change(function(){
                    user.email=$("#email").val();
                     });
                     $("#pass").change(function(){
                    user.password=$("#pass").val();
                     });
                    $("#but").click(function(event){
                    $.ajax({
                    method: 'POST',
                    url: "/auth/signup",
                    data: user
                   }).done(function(response){
                     console.log(response);
                    window.location.replace('/service');
                   }).fail(function(response){
                     console.log(response);
                 
                    $("#id1").text("Required!");
                    $("#id2").text("Required!");
                    $("#id3").text("Required!");
                    $("#id4").text("Required!");
                 
             });
       });
                   </script>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <footer id="fot" class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;webteam 2017</p>
      </div>
         <center>
          <ul id="ex">
            <li>
              <a href="https://www.facebook.com/sojib.ahmed.545402" class="fa   fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </li>
           </ul>
        </center>
    </footer>  
     <script src="vendor/jquery.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
        
    </div>
     
  
</body>
</html>