<html>
    <head>
        <title> PC service</title>
    </head>
    <body>
        <h1>Service name</h1>
        <% console.log(request.service)%>
        <h2>name: <%= request.service.name %></h2>
        <p> description: <%= request.service.description %> </p>
      
        <p>created:<%= request.service.created %> </p>
    </body>
</html>